html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue',-apple-system,sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.bg--light {
  background-color: #F0F0F0;
}

.text--light {
  color: #F0F0F0;
}

.bg--primary {
  background-color: #2EB738;
}

.text--primary {
  color: #2EB738;
}

.bg--dark {
  background-color: #212121;
}

.text--dark {
  color: #212121;
}

.bg--white {
  background-color: #ffffff;
}

.text--white {
  color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 568px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 568px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.h-100 {
  height: 100%;
}

.h-inline-block {
  display: inline-block !important;
}

.h-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.h-flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
          flex-direction: column !important;
}

.h-justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
}

.h-justify-content-end {
  -ms-flex-pack: flex-end !important;
  -webkit-box-pack: end !important;
          justify-content: flex-end !important;
}

.h-justify-content-between {
  -ms-flex-pack: space-between !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}

.h-justify-content-around {
  -ms-flex-pack: space-around !important;
  justify-content: space-around !important;
}

.h-align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.h-align-items-end {
  -ms-flex-align: flex-end !important;
  -webkit-box-align: end !important;
          align-items: flex-end !important;
}

.h-m-0 {
  margin: 0 !important;
}

.h-mt-0,
.h-my-0 {
  margin-top: 0 !important;
}

.h-mr-0,
.h-mx-0 {
  margin-right: 0 !important;
}

.h-mb-0,
.h-my-0 {
  margin-bottom: 0 !important;
}

.h-ml-0,
.h-mx-0 {
  margin-left: 0 !important;
}

.h-m-1 {
  margin: 0.25rem !important;
}

.h-mt-1,
.h-my-1 {
  margin-top: 0.25rem !important;
}

.h-mr-1,
.h-mx-1 {
  margin-right: 0.25rem !important;
}

.h-mb-1,
.h-my-1 {
  margin-bottom: 0.25rem !important;
}

.h-ml-1,
.h-mx-1 {
  margin-left: 0.25rem !important;
}

.h-m-2 {
  margin: 0.5rem !important;
}

.h-mt-2,
.h-my-2 {
  margin-top: 0.5rem !important;
}

.h-mr-2,
.h-mx-2 {
  margin-right: 0.5rem !important;
}

.h-mb-2,
.h-my-2 {
  margin-bottom: 0.5rem !important;
}

.h-ml-2,
.h-mx-2 {
  margin-left: 0.5rem !important;
}

.h-m-3 {
  margin: 1rem !important;
}

.h-mt-3,
.h-my-3 {
  margin-top: 1rem !important;
}

.h-mr-3,
.h-mx-3 {
  margin-right: 1rem !important;
}

.h-mb-3,
.h-my-3 {
  margin-bottom: 1rem !important;
}

.h-ml-3,
.h-mx-3 {
  margin-left: 1rem !important;
}

.h-m-4 {
  margin: 1.5rem !important;
}

.h-mt-4,
.h-my-4 {
  margin-top: 1.5rem !important;
}

.h-mr-4,
.h-mx-4 {
  margin-right: 1.5rem !important;
}

.h-mb-4,
.h-my-4 {
  margin-bottom: 1.5rem !important;
}

.h-ml-4,
.h-mx-4 {
  margin-left: 1.5rem !important;
}

.h-m-5 {
  margin: 2.5rem !important;
}

.h-mt-5,
.h-my-5 {
  margin-top: 2.5rem !important;
}

.h-mr-5,
.h-mx-5 {
  margin-right: 2.5rem !important;
}

.h-mb-5,
.h-my-5 {
  margin-bottom: 2.5rem !important;
}

.h-ml-5,
.h-mx-5 {
  margin-left: 2.5rem !important;
}

.h-m-6 {
  margin: 4rem !important;
}

.h-mt-6,
.h-my-6 {
  margin-top: 4rem !important;
}

.h-mr-6,
.h-mx-6 {
  margin-right: 4rem !important;
}

.h-mb-6,
.h-my-6 {
  margin-bottom: 4rem !important;
}

.h-ml-6,
.h-mx-6 {
  margin-left: 4rem !important;
}

.h-m-7 {
  margin: 5rem !important;
}

.h-mt-7,
.h-my-7 {
  margin-top: 5rem !important;
}

.h-mr-7,
.h-mx-7 {
  margin-right: 5rem !important;
}

.h-mb-7,
.h-my-7 {
  margin-bottom: 5rem !important;
}

.h-ml-7,
.h-mx-7 {
  margin-left: 5rem !important;
}

.h-p-0 {
  padding: 0 !important;
}

.h-pt-0,
.h-py-0 {
  padding-top: 0 !important;
}

.h-pr-0,
.h-px-0 {
  padding-right: 0 !important;
}

.h-pb-0,
.h-py-0 {
  padding-bottom: 0 !important;
}

.h-pl-0,
.h-px-0 {
  padding-left: 0 !important;
}

.h-p-1 {
  padding: 0.25rem !important;
}

.h-pt-1,
.h-py-1 {
  padding-top: 0.25rem !important;
}

.h-pr-1,
.h-px-1 {
  padding-right: 0.25rem !important;
}

.h-pb-1,
.h-py-1 {
  padding-bottom: 0.25rem !important;
}

.h-pl-1,
.h-px-1 {
  padding-left: 0.25rem !important;
}

.h-p-2 {
  padding: 0.5rem !important;
}

.h-pt-2,
.h-py-2 {
  padding-top: 0.5rem !important;
}

.h-pr-2,
.h-px-2 {
  padding-right: 0.5rem !important;
}

.h-pb-2,
.h-py-2 {
  padding-bottom: 0.5rem !important;
}

.h-pl-2,
.h-px-2 {
  padding-left: 0.5rem !important;
}

.h-p-3 {
  padding: 1rem !important;
}

.h-pt-3,
.h-py-3 {
  padding-top: 1rem !important;
}

.h-pr-3,
.h-px-3 {
  padding-right: 1rem !important;
}

.h-pb-3,
.h-py-3 {
  padding-bottom: 1rem !important;
}

.h-pl-3,
.h-px-3 {
  padding-left: 1rem !important;
}

.h-p-4 {
  padding: 1.5rem !important;
}

.h-pt-4,
.h-py-4 {
  padding-top: 1.5rem !important;
}

.h-pr-4,
.h-px-4 {
  padding-right: 1.5rem !important;
}

.h-pb-4,
.h-py-4 {
  padding-bottom: 1.5rem !important;
}

.h-pl-4,
.h-px-4 {
  padding-left: 1.5rem !important;
}

.h-p-5 {
  padding: 2.5rem !important;
}

.h-pt-5,
.h-py-5 {
  padding-top: 2.5rem !important;
}

.h-pr-5,
.h-px-5 {
  padding-right: 2.5rem !important;
}

.h-pb-5,
.h-py-5 {
  padding-bottom: 2.5rem !important;
}

.h-pl-5,
.h-px-5 {
  padding-left: 2.5rem !important;
}

.h-p-6 {
  padding: 4rem !important;
}

.h-pt-6,
.h-py-6 {
  padding-top: 4rem !important;
}

.h-pr-6,
.h-px-6 {
  padding-right: 4rem !important;
}

.h-pb-6,
.h-py-6 {
  padding-bottom: 4rem !important;
}

.h-pl-6,
.h-px-6 {
  padding-left: 4rem !important;
}

.h-p-7 {
  padding: 5rem !important;
}

.h-pt-7,
.h-py-7 {
  padding-top: 5rem !important;
}

.h-pr-7,
.h-px-7 {
  padding-right: 5rem !important;
}

.h-pb-7,
.h-py-7 {
  padding-bottom: 5rem !important;
}

.h-pl-7,
.h-px-7 {
  padding-left: 5rem !important;
}

.h-m-n1 {
  margin: -0.25rem !important;
}

.h-mt-n1,
.h-my-n1 {
  margin-top: -0.25rem !important;
}

.h-mr-n1,
.h-mx-n1 {
  margin-right: -0.25rem !important;
}

.h-mb-n1,
.h-my-n1 {
  margin-bottom: -0.25rem !important;
}

.h-ml-n1,
.h-mx-n1 {
  margin-left: -0.25rem !important;
}

.h-m-n2 {
  margin: -0.5rem !important;
}

.h-mt-n2,
.h-my-n2 {
  margin-top: -0.5rem !important;
}

.h-mr-n2,
.h-mx-n2 {
  margin-right: -0.5rem !important;
}

.h-mb-n2,
.h-my-n2 {
  margin-bottom: -0.5rem !important;
}

.h-ml-n2,
.h-mx-n2 {
  margin-left: -0.5rem !important;
}

.h-m-n3 {
  margin: -1rem !important;
}

.h-mt-n3,
.h-my-n3 {
  margin-top: -1rem !important;
}

.h-mr-n3,
.h-mx-n3 {
  margin-right: -1rem !important;
}

.h-mb-n3,
.h-my-n3 {
  margin-bottom: -1rem !important;
}

.h-ml-n3,
.h-mx-n3 {
  margin-left: -1rem !important;
}

.h-m-n4 {
  margin: -1.5rem !important;
}

.h-mt-n4,
.h-my-n4 {
  margin-top: -1.5rem !important;
}

.h-mr-n4,
.h-mx-n4 {
  margin-right: -1.5rem !important;
}

.h-mb-n4,
.h-my-n4 {
  margin-bottom: -1.5rem !important;
}

.h-ml-n4,
.h-mx-n4 {
  margin-left: -1.5rem !important;
}

.h-m-n5 {
  margin: -2.5rem !important;
}

.h-mt-n5,
.h-my-n5 {
  margin-top: -2.5rem !important;
}

.h-mr-n5,
.h-mx-n5 {
  margin-right: -2.5rem !important;
}

.h-mb-n5,
.h-my-n5 {
  margin-bottom: -2.5rem !important;
}

.h-ml-n5,
.h-mx-n5 {
  margin-left: -2.5rem !important;
}

.h-m-n6 {
  margin: -4rem !important;
}

.h-mt-n6,
.h-my-n6 {
  margin-top: -4rem !important;
}

.h-mr-n6,
.h-mx-n6 {
  margin-right: -4rem !important;
}

.h-mb-n6,
.h-my-n6 {
  margin-bottom: -4rem !important;
}

.h-ml-n6,
.h-mx-n6 {
  margin-left: -4rem !important;
}

.h-m-n7 {
  margin: -5rem !important;
}

.h-mt-n7,
.h-my-n7 {
  margin-top: -5rem !important;
}

.h-mr-n7,
.h-mx-n7 {
  margin-right: -5rem !important;
}

.h-mb-n7,
.h-my-n7 {
  margin-bottom: -5rem !important;
}

.h-ml-n7,
.h-mx-n7 {
  margin-left: -5rem !important;
}

.h-m-auto {
  margin: auto !important;
}

.h-mt-auto,
.h-my-auto {
  margin-top: auto !important;
}

.h-mr-auto,
.h-mx-auto {
  margin-right: auto !important;
}

.h-mb-auto,
.h-my-auto {
  margin-bottom: auto !important;
}

.h-ml-auto,
.h-mx-auto {
  margin-left: auto !important;
}

@media (min-width: 568px) {
  .h-m-sm-0 {
    margin: 0 !important;
  }
  .h-mt-sm-0,
  .h-my-sm-0 {
    margin-top: 0 !important;
  }
  .h-mr-sm-0,
  .h-mx-sm-0 {
    margin-right: 0 !important;
  }
  .h-mb-sm-0,
  .h-my-sm-0 {
    margin-bottom: 0 !important;
  }
  .h-ml-sm-0,
  .h-mx-sm-0 {
    margin-left: 0 !important;
  }
  .h-m-sm-1 {
    margin: 0.25rem !important;
  }
  .h-mt-sm-1,
  .h-my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .h-mr-sm-1,
  .h-mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .h-mb-sm-1,
  .h-my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .h-ml-sm-1,
  .h-mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .h-m-sm-2 {
    margin: 0.5rem !important;
  }
  .h-mt-sm-2,
  .h-my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .h-mr-sm-2,
  .h-mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .h-mb-sm-2,
  .h-my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .h-ml-sm-2,
  .h-mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .h-m-sm-3 {
    margin: 1rem !important;
  }
  .h-mt-sm-3,
  .h-my-sm-3 {
    margin-top: 1rem !important;
  }
  .h-mr-sm-3,
  .h-mx-sm-3 {
    margin-right: 1rem !important;
  }
  .h-mb-sm-3,
  .h-my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .h-ml-sm-3,
  .h-mx-sm-3 {
    margin-left: 1rem !important;
  }
  .h-m-sm-4 {
    margin: 1.5rem !important;
  }
  .h-mt-sm-4,
  .h-my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .h-mr-sm-4,
  .h-mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .h-mb-sm-4,
  .h-my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .h-ml-sm-4,
  .h-mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .h-m-sm-5 {
    margin: 2.5rem !important;
  }
  .h-mt-sm-5,
  .h-my-sm-5 {
    margin-top: 2.5rem !important;
  }
  .h-mr-sm-5,
  .h-mx-sm-5 {
    margin-right: 2.5rem !important;
  }
  .h-mb-sm-5,
  .h-my-sm-5 {
    margin-bottom: 2.5rem !important;
  }
  .h-ml-sm-5,
  .h-mx-sm-5 {
    margin-left: 2.5rem !important;
  }
  .h-m-sm-6 {
    margin: 4rem !important;
  }
  .h-mt-sm-6,
  .h-my-sm-6 {
    margin-top: 4rem !important;
  }
  .h-mr-sm-6,
  .h-mx-sm-6 {
    margin-right: 4rem !important;
  }
  .h-mb-sm-6,
  .h-my-sm-6 {
    margin-bottom: 4rem !important;
  }
  .h-ml-sm-6,
  .h-mx-sm-6 {
    margin-left: 4rem !important;
  }
  .h-m-sm-7 {
    margin: 5rem !important;
  }
  .h-mt-sm-7,
  .h-my-sm-7 {
    margin-top: 5rem !important;
  }
  .h-mr-sm-7,
  .h-mx-sm-7 {
    margin-right: 5rem !important;
  }
  .h-mb-sm-7,
  .h-my-sm-7 {
    margin-bottom: 5rem !important;
  }
  .h-ml-sm-7,
  .h-mx-sm-7 {
    margin-left: 5rem !important;
  }
  .h-p-sm-0 {
    padding: 0 !important;
  }
  .h-pt-sm-0,
  .h-py-sm-0 {
    padding-top: 0 !important;
  }
  .h-pr-sm-0,
  .h-px-sm-0 {
    padding-right: 0 !important;
  }
  .h-pb-sm-0,
  .h-py-sm-0 {
    padding-bottom: 0 !important;
  }
  .h-pl-sm-0,
  .h-px-sm-0 {
    padding-left: 0 !important;
  }
  .h-p-sm-1 {
    padding: 0.25rem !important;
  }
  .h-pt-sm-1,
  .h-py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .h-pr-sm-1,
  .h-px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .h-pb-sm-1,
  .h-py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .h-pl-sm-1,
  .h-px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .h-p-sm-2 {
    padding: 0.5rem !important;
  }
  .h-pt-sm-2,
  .h-py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .h-pr-sm-2,
  .h-px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .h-pb-sm-2,
  .h-py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .h-pl-sm-2,
  .h-px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .h-p-sm-3 {
    padding: 1rem !important;
  }
  .h-pt-sm-3,
  .h-py-sm-3 {
    padding-top: 1rem !important;
  }
  .h-pr-sm-3,
  .h-px-sm-3 {
    padding-right: 1rem !important;
  }
  .h-pb-sm-3,
  .h-py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .h-pl-sm-3,
  .h-px-sm-3 {
    padding-left: 1rem !important;
  }
  .h-p-sm-4 {
    padding: 1.5rem !important;
  }
  .h-pt-sm-4,
  .h-py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .h-pr-sm-4,
  .h-px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .h-pb-sm-4,
  .h-py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .h-pl-sm-4,
  .h-px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .h-p-sm-5 {
    padding: 2.5rem !important;
  }
  .h-pt-sm-5,
  .h-py-sm-5 {
    padding-top: 2.5rem !important;
  }
  .h-pr-sm-5,
  .h-px-sm-5 {
    padding-right: 2.5rem !important;
  }
  .h-pb-sm-5,
  .h-py-sm-5 {
    padding-bottom: 2.5rem !important;
  }
  .h-pl-sm-5,
  .h-px-sm-5 {
    padding-left: 2.5rem !important;
  }
  .h-p-sm-6 {
    padding: 4rem !important;
  }
  .h-pt-sm-6,
  .h-py-sm-6 {
    padding-top: 4rem !important;
  }
  .h-pr-sm-6,
  .h-px-sm-6 {
    padding-right: 4rem !important;
  }
  .h-pb-sm-6,
  .h-py-sm-6 {
    padding-bottom: 4rem !important;
  }
  .h-pl-sm-6,
  .h-px-sm-6 {
    padding-left: 4rem !important;
  }
  .h-p-sm-7 {
    padding: 5rem !important;
  }
  .h-pt-sm-7,
  .h-py-sm-7 {
    padding-top: 5rem !important;
  }
  .h-pr-sm-7,
  .h-px-sm-7 {
    padding-right: 5rem !important;
  }
  .h-pb-sm-7,
  .h-py-sm-7 {
    padding-bottom: 5rem !important;
  }
  .h-pl-sm-7,
  .h-px-sm-7 {
    padding-left: 5rem !important;
  }
  .h-m-sm-n1 {
    margin: -0.25rem !important;
  }
  .h-mt-sm-n1,
  .h-my-sm-n1 {
    margin-top: -0.25rem !important;
  }
  .h-mr-sm-n1,
  .h-mx-sm-n1 {
    margin-right: -0.25rem !important;
  }
  .h-mb-sm-n1,
  .h-my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }
  .h-ml-sm-n1,
  .h-mx-sm-n1 {
    margin-left: -0.25rem !important;
  }
  .h-m-sm-n2 {
    margin: -0.5rem !important;
  }
  .h-mt-sm-n2,
  .h-my-sm-n2 {
    margin-top: -0.5rem !important;
  }
  .h-mr-sm-n2,
  .h-mx-sm-n2 {
    margin-right: -0.5rem !important;
  }
  .h-mb-sm-n2,
  .h-my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }
  .h-ml-sm-n2,
  .h-mx-sm-n2 {
    margin-left: -0.5rem !important;
  }
  .h-m-sm-n3 {
    margin: -1rem !important;
  }
  .h-mt-sm-n3,
  .h-my-sm-n3 {
    margin-top: -1rem !important;
  }
  .h-mr-sm-n3,
  .h-mx-sm-n3 {
    margin-right: -1rem !important;
  }
  .h-mb-sm-n3,
  .h-my-sm-n3 {
    margin-bottom: -1rem !important;
  }
  .h-ml-sm-n3,
  .h-mx-sm-n3 {
    margin-left: -1rem !important;
  }
  .h-m-sm-n4 {
    margin: -1.5rem !important;
  }
  .h-mt-sm-n4,
  .h-my-sm-n4 {
    margin-top: -1.5rem !important;
  }
  .h-mr-sm-n4,
  .h-mx-sm-n4 {
    margin-right: -1.5rem !important;
  }
  .h-mb-sm-n4,
  .h-my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }
  .h-ml-sm-n4,
  .h-mx-sm-n4 {
    margin-left: -1.5rem !important;
  }
  .h-m-sm-n5 {
    margin: -2.5rem !important;
  }
  .h-mt-sm-n5,
  .h-my-sm-n5 {
    margin-top: -2.5rem !important;
  }
  .h-mr-sm-n5,
  .h-mx-sm-n5 {
    margin-right: -2.5rem !important;
  }
  .h-mb-sm-n5,
  .h-my-sm-n5 {
    margin-bottom: -2.5rem !important;
  }
  .h-ml-sm-n5,
  .h-mx-sm-n5 {
    margin-left: -2.5rem !important;
  }
  .h-m-sm-n6 {
    margin: -4rem !important;
  }
  .h-mt-sm-n6,
  .h-my-sm-n6 {
    margin-top: -4rem !important;
  }
  .h-mr-sm-n6,
  .h-mx-sm-n6 {
    margin-right: -4rem !important;
  }
  .h-mb-sm-n6,
  .h-my-sm-n6 {
    margin-bottom: -4rem !important;
  }
  .h-ml-sm-n6,
  .h-mx-sm-n6 {
    margin-left: -4rem !important;
  }
  .h-m-sm-n7 {
    margin: -5rem !important;
  }
  .h-mt-sm-n7,
  .h-my-sm-n7 {
    margin-top: -5rem !important;
  }
  .h-mr-sm-n7,
  .h-mx-sm-n7 {
    margin-right: -5rem !important;
  }
  .h-mb-sm-n7,
  .h-my-sm-n7 {
    margin-bottom: -5rem !important;
  }
  .h-ml-sm-n7,
  .h-mx-sm-n7 {
    margin-left: -5rem !important;
  }
  .h-m-sm-auto {
    margin: auto !important;
  }
  .h-mt-sm-auto,
  .h-my-sm-auto {
    margin-top: auto !important;
  }
  .h-mr-sm-auto,
  .h-mx-sm-auto {
    margin-right: auto !important;
  }
  .h-mb-sm-auto,
  .h-my-sm-auto {
    margin-bottom: auto !important;
  }
  .h-ml-sm-auto,
  .h-mx-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 768px) {
  .h-m-md-0 {
    margin: 0 !important;
  }
  .h-mt-md-0,
  .h-my-md-0 {
    margin-top: 0 !important;
  }
  .h-mr-md-0,
  .h-mx-md-0 {
    margin-right: 0 !important;
  }
  .h-mb-md-0,
  .h-my-md-0 {
    margin-bottom: 0 !important;
  }
  .h-ml-md-0,
  .h-mx-md-0 {
    margin-left: 0 !important;
  }
  .h-m-md-1 {
    margin: 0.25rem !important;
  }
  .h-mt-md-1,
  .h-my-md-1 {
    margin-top: 0.25rem !important;
  }
  .h-mr-md-1,
  .h-mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .h-mb-md-1,
  .h-my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .h-ml-md-1,
  .h-mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .h-m-md-2 {
    margin: 0.5rem !important;
  }
  .h-mt-md-2,
  .h-my-md-2 {
    margin-top: 0.5rem !important;
  }
  .h-mr-md-2,
  .h-mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .h-mb-md-2,
  .h-my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .h-ml-md-2,
  .h-mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .h-m-md-3 {
    margin: 1rem !important;
  }
  .h-mt-md-3,
  .h-my-md-3 {
    margin-top: 1rem !important;
  }
  .h-mr-md-3,
  .h-mx-md-3 {
    margin-right: 1rem !important;
  }
  .h-mb-md-3,
  .h-my-md-3 {
    margin-bottom: 1rem !important;
  }
  .h-ml-md-3,
  .h-mx-md-3 {
    margin-left: 1rem !important;
  }
  .h-m-md-4 {
    margin: 1.5rem !important;
  }
  .h-mt-md-4,
  .h-my-md-4 {
    margin-top: 1.5rem !important;
  }
  .h-mr-md-4,
  .h-mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .h-mb-md-4,
  .h-my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .h-ml-md-4,
  .h-mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .h-m-md-5 {
    margin: 2.5rem !important;
  }
  .h-mt-md-5,
  .h-my-md-5 {
    margin-top: 2.5rem !important;
  }
  .h-mr-md-5,
  .h-mx-md-5 {
    margin-right: 2.5rem !important;
  }
  .h-mb-md-5,
  .h-my-md-5 {
    margin-bottom: 2.5rem !important;
  }
  .h-ml-md-5,
  .h-mx-md-5 {
    margin-left: 2.5rem !important;
  }
  .h-m-md-6 {
    margin: 4rem !important;
  }
  .h-mt-md-6,
  .h-my-md-6 {
    margin-top: 4rem !important;
  }
  .h-mr-md-6,
  .h-mx-md-6 {
    margin-right: 4rem !important;
  }
  .h-mb-md-6,
  .h-my-md-6 {
    margin-bottom: 4rem !important;
  }
  .h-ml-md-6,
  .h-mx-md-6 {
    margin-left: 4rem !important;
  }
  .h-m-md-7 {
    margin: 5rem !important;
  }
  .h-mt-md-7,
  .h-my-md-7 {
    margin-top: 5rem !important;
  }
  .h-mr-md-7,
  .h-mx-md-7 {
    margin-right: 5rem !important;
  }
  .h-mb-md-7,
  .h-my-md-7 {
    margin-bottom: 5rem !important;
  }
  .h-ml-md-7,
  .h-mx-md-7 {
    margin-left: 5rem !important;
  }
  .h-p-md-0 {
    padding: 0 !important;
  }
  .h-pt-md-0,
  .h-py-md-0 {
    padding-top: 0 !important;
  }
  .h-pr-md-0,
  .h-px-md-0 {
    padding-right: 0 !important;
  }
  .h-pb-md-0,
  .h-py-md-0 {
    padding-bottom: 0 !important;
  }
  .h-pl-md-0,
  .h-px-md-0 {
    padding-left: 0 !important;
  }
  .h-p-md-1 {
    padding: 0.25rem !important;
  }
  .h-pt-md-1,
  .h-py-md-1 {
    padding-top: 0.25rem !important;
  }
  .h-pr-md-1,
  .h-px-md-1 {
    padding-right: 0.25rem !important;
  }
  .h-pb-md-1,
  .h-py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .h-pl-md-1,
  .h-px-md-1 {
    padding-left: 0.25rem !important;
  }
  .h-p-md-2 {
    padding: 0.5rem !important;
  }
  .h-pt-md-2,
  .h-py-md-2 {
    padding-top: 0.5rem !important;
  }
  .h-pr-md-2,
  .h-px-md-2 {
    padding-right: 0.5rem !important;
  }
  .h-pb-md-2,
  .h-py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .h-pl-md-2,
  .h-px-md-2 {
    padding-left: 0.5rem !important;
  }
  .h-p-md-3 {
    padding: 1rem !important;
  }
  .h-pt-md-3,
  .h-py-md-3 {
    padding-top: 1rem !important;
  }
  .h-pr-md-3,
  .h-px-md-3 {
    padding-right: 1rem !important;
  }
  .h-pb-md-3,
  .h-py-md-3 {
    padding-bottom: 1rem !important;
  }
  .h-pl-md-3,
  .h-px-md-3 {
    padding-left: 1rem !important;
  }
  .h-p-md-4 {
    padding: 1.5rem !important;
  }
  .h-pt-md-4,
  .h-py-md-4 {
    padding-top: 1.5rem !important;
  }
  .h-pr-md-4,
  .h-px-md-4 {
    padding-right: 1.5rem !important;
  }
  .h-pb-md-4,
  .h-py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .h-pl-md-4,
  .h-px-md-4 {
    padding-left: 1.5rem !important;
  }
  .h-p-md-5 {
    padding: 2.5rem !important;
  }
  .h-pt-md-5,
  .h-py-md-5 {
    padding-top: 2.5rem !important;
  }
  .h-pr-md-5,
  .h-px-md-5 {
    padding-right: 2.5rem !important;
  }
  .h-pb-md-5,
  .h-py-md-5 {
    padding-bottom: 2.5rem !important;
  }
  .h-pl-md-5,
  .h-px-md-5 {
    padding-left: 2.5rem !important;
  }
  .h-p-md-6 {
    padding: 4rem !important;
  }
  .h-pt-md-6,
  .h-py-md-6 {
    padding-top: 4rem !important;
  }
  .h-pr-md-6,
  .h-px-md-6 {
    padding-right: 4rem !important;
  }
  .h-pb-md-6,
  .h-py-md-6 {
    padding-bottom: 4rem !important;
  }
  .h-pl-md-6,
  .h-px-md-6 {
    padding-left: 4rem !important;
  }
  .h-p-md-7 {
    padding: 5rem !important;
  }
  .h-pt-md-7,
  .h-py-md-7 {
    padding-top: 5rem !important;
  }
  .h-pr-md-7,
  .h-px-md-7 {
    padding-right: 5rem !important;
  }
  .h-pb-md-7,
  .h-py-md-7 {
    padding-bottom: 5rem !important;
  }
  .h-pl-md-7,
  .h-px-md-7 {
    padding-left: 5rem !important;
  }
  .h-m-md-n1 {
    margin: -0.25rem !important;
  }
  .h-mt-md-n1,
  .h-my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .h-mr-md-n1,
  .h-mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .h-mb-md-n1,
  .h-my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .h-ml-md-n1,
  .h-mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .h-m-md-n2 {
    margin: -0.5rem !important;
  }
  .h-mt-md-n2,
  .h-my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .h-mr-md-n2,
  .h-mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .h-mb-md-n2,
  .h-my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .h-ml-md-n2,
  .h-mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .h-m-md-n3 {
    margin: -1rem !important;
  }
  .h-mt-md-n3,
  .h-my-md-n3 {
    margin-top: -1rem !important;
  }
  .h-mr-md-n3,
  .h-mx-md-n3 {
    margin-right: -1rem !important;
  }
  .h-mb-md-n3,
  .h-my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .h-ml-md-n3,
  .h-mx-md-n3 {
    margin-left: -1rem !important;
  }
  .h-m-md-n4 {
    margin: -1.5rem !important;
  }
  .h-mt-md-n4,
  .h-my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .h-mr-md-n4,
  .h-mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .h-mb-md-n4,
  .h-my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .h-ml-md-n4,
  .h-mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .h-m-md-n5 {
    margin: -2.5rem !important;
  }
  .h-mt-md-n5,
  .h-my-md-n5 {
    margin-top: -2.5rem !important;
  }
  .h-mr-md-n5,
  .h-mx-md-n5 {
    margin-right: -2.5rem !important;
  }
  .h-mb-md-n5,
  .h-my-md-n5 {
    margin-bottom: -2.5rem !important;
  }
  .h-ml-md-n5,
  .h-mx-md-n5 {
    margin-left: -2.5rem !important;
  }
  .h-m-md-n6 {
    margin: -4rem !important;
  }
  .h-mt-md-n6,
  .h-my-md-n6 {
    margin-top: -4rem !important;
  }
  .h-mr-md-n6,
  .h-mx-md-n6 {
    margin-right: -4rem !important;
  }
  .h-mb-md-n6,
  .h-my-md-n6 {
    margin-bottom: -4rem !important;
  }
  .h-ml-md-n6,
  .h-mx-md-n6 {
    margin-left: -4rem !important;
  }
  .h-m-md-n7 {
    margin: -5rem !important;
  }
  .h-mt-md-n7,
  .h-my-md-n7 {
    margin-top: -5rem !important;
  }
  .h-mr-md-n7,
  .h-mx-md-n7 {
    margin-right: -5rem !important;
  }
  .h-mb-md-n7,
  .h-my-md-n7 {
    margin-bottom: -5rem !important;
  }
  .h-ml-md-n7,
  .h-mx-md-n7 {
    margin-left: -5rem !important;
  }
  .h-m-md-auto {
    margin: auto !important;
  }
  .h-mt-md-auto,
  .h-my-md-auto {
    margin-top: auto !important;
  }
  .h-mr-md-auto,
  .h-mx-md-auto {
    margin-right: auto !important;
  }
  .h-mb-md-auto,
  .h-my-md-auto {
    margin-bottom: auto !important;
  }
  .h-ml-md-auto,
  .h-mx-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1024px) {
  .h-m-lg-0 {
    margin: 0 !important;
  }
  .h-mt-lg-0,
  .h-my-lg-0 {
    margin-top: 0 !important;
  }
  .h-mr-lg-0,
  .h-mx-lg-0 {
    margin-right: 0 !important;
  }
  .h-mb-lg-0,
  .h-my-lg-0 {
    margin-bottom: 0 !important;
  }
  .h-ml-lg-0,
  .h-mx-lg-0 {
    margin-left: 0 !important;
  }
  .h-m-lg-1 {
    margin: 0.25rem !important;
  }
  .h-mt-lg-1,
  .h-my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .h-mr-lg-1,
  .h-mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .h-mb-lg-1,
  .h-my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .h-ml-lg-1,
  .h-mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .h-m-lg-2 {
    margin: 0.5rem !important;
  }
  .h-mt-lg-2,
  .h-my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .h-mr-lg-2,
  .h-mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .h-mb-lg-2,
  .h-my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .h-ml-lg-2,
  .h-mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .h-m-lg-3 {
    margin: 1rem !important;
  }
  .h-mt-lg-3,
  .h-my-lg-3 {
    margin-top: 1rem !important;
  }
  .h-mr-lg-3,
  .h-mx-lg-3 {
    margin-right: 1rem !important;
  }
  .h-mb-lg-3,
  .h-my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .h-ml-lg-3,
  .h-mx-lg-3 {
    margin-left: 1rem !important;
  }
  .h-m-lg-4 {
    margin: 1.5rem !important;
  }
  .h-mt-lg-4,
  .h-my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .h-mr-lg-4,
  .h-mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .h-mb-lg-4,
  .h-my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .h-ml-lg-4,
  .h-mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .h-m-lg-5 {
    margin: 2.5rem !important;
  }
  .h-mt-lg-5,
  .h-my-lg-5 {
    margin-top: 2.5rem !important;
  }
  .h-mr-lg-5,
  .h-mx-lg-5 {
    margin-right: 2.5rem !important;
  }
  .h-mb-lg-5,
  .h-my-lg-5 {
    margin-bottom: 2.5rem !important;
  }
  .h-ml-lg-5,
  .h-mx-lg-5 {
    margin-left: 2.5rem !important;
  }
  .h-m-lg-6 {
    margin: 4rem !important;
  }
  .h-mt-lg-6,
  .h-my-lg-6 {
    margin-top: 4rem !important;
  }
  .h-mr-lg-6,
  .h-mx-lg-6 {
    margin-right: 4rem !important;
  }
  .h-mb-lg-6,
  .h-my-lg-6 {
    margin-bottom: 4rem !important;
  }
  .h-ml-lg-6,
  .h-mx-lg-6 {
    margin-left: 4rem !important;
  }
  .h-m-lg-7 {
    margin: 5rem !important;
  }
  .h-mt-lg-7,
  .h-my-lg-7 {
    margin-top: 5rem !important;
  }
  .h-mr-lg-7,
  .h-mx-lg-7 {
    margin-right: 5rem !important;
  }
  .h-mb-lg-7,
  .h-my-lg-7 {
    margin-bottom: 5rem !important;
  }
  .h-ml-lg-7,
  .h-mx-lg-7 {
    margin-left: 5rem !important;
  }
  .h-p-lg-0 {
    padding: 0 !important;
  }
  .h-pt-lg-0,
  .h-py-lg-0 {
    padding-top: 0 !important;
  }
  .h-pr-lg-0,
  .h-px-lg-0 {
    padding-right: 0 !important;
  }
  .h-pb-lg-0,
  .h-py-lg-0 {
    padding-bottom: 0 !important;
  }
  .h-pl-lg-0,
  .h-px-lg-0 {
    padding-left: 0 !important;
  }
  .h-p-lg-1 {
    padding: 0.25rem !important;
  }
  .h-pt-lg-1,
  .h-py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .h-pr-lg-1,
  .h-px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .h-pb-lg-1,
  .h-py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .h-pl-lg-1,
  .h-px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .h-p-lg-2 {
    padding: 0.5rem !important;
  }
  .h-pt-lg-2,
  .h-py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .h-pr-lg-2,
  .h-px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .h-pb-lg-2,
  .h-py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .h-pl-lg-2,
  .h-px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .h-p-lg-3 {
    padding: 1rem !important;
  }
  .h-pt-lg-3,
  .h-py-lg-3 {
    padding-top: 1rem !important;
  }
  .h-pr-lg-3,
  .h-px-lg-3 {
    padding-right: 1rem !important;
  }
  .h-pb-lg-3,
  .h-py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .h-pl-lg-3,
  .h-px-lg-3 {
    padding-left: 1rem !important;
  }
  .h-p-lg-4 {
    padding: 1.5rem !important;
  }
  .h-pt-lg-4,
  .h-py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .h-pr-lg-4,
  .h-px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .h-pb-lg-4,
  .h-py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .h-pl-lg-4,
  .h-px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .h-p-lg-5 {
    padding: 2.5rem !important;
  }
  .h-pt-lg-5,
  .h-py-lg-5 {
    padding-top: 2.5rem !important;
  }
  .h-pr-lg-5,
  .h-px-lg-5 {
    padding-right: 2.5rem !important;
  }
  .h-pb-lg-5,
  .h-py-lg-5 {
    padding-bottom: 2.5rem !important;
  }
  .h-pl-lg-5,
  .h-px-lg-5 {
    padding-left: 2.5rem !important;
  }
  .h-p-lg-6 {
    padding: 4rem !important;
  }
  .h-pt-lg-6,
  .h-py-lg-6 {
    padding-top: 4rem !important;
  }
  .h-pr-lg-6,
  .h-px-lg-6 {
    padding-right: 4rem !important;
  }
  .h-pb-lg-6,
  .h-py-lg-6 {
    padding-bottom: 4rem !important;
  }
  .h-pl-lg-6,
  .h-px-lg-6 {
    padding-left: 4rem !important;
  }
  .h-p-lg-7 {
    padding: 5rem !important;
  }
  .h-pt-lg-7,
  .h-py-lg-7 {
    padding-top: 5rem !important;
  }
  .h-pr-lg-7,
  .h-px-lg-7 {
    padding-right: 5rem !important;
  }
  .h-pb-lg-7,
  .h-py-lg-7 {
    padding-bottom: 5rem !important;
  }
  .h-pl-lg-7,
  .h-px-lg-7 {
    padding-left: 5rem !important;
  }
  .h-m-lg-n1 {
    margin: -0.25rem !important;
  }
  .h-mt-lg-n1,
  .h-my-lg-n1 {
    margin-top: -0.25rem !important;
  }
  .h-mr-lg-n1,
  .h-mx-lg-n1 {
    margin-right: -0.25rem !important;
  }
  .h-mb-lg-n1,
  .h-my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }
  .h-ml-lg-n1,
  .h-mx-lg-n1 {
    margin-left: -0.25rem !important;
  }
  .h-m-lg-n2 {
    margin: -0.5rem !important;
  }
  .h-mt-lg-n2,
  .h-my-lg-n2 {
    margin-top: -0.5rem !important;
  }
  .h-mr-lg-n2,
  .h-mx-lg-n2 {
    margin-right: -0.5rem !important;
  }
  .h-mb-lg-n2,
  .h-my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }
  .h-ml-lg-n2,
  .h-mx-lg-n2 {
    margin-left: -0.5rem !important;
  }
  .h-m-lg-n3 {
    margin: -1rem !important;
  }
  .h-mt-lg-n3,
  .h-my-lg-n3 {
    margin-top: -1rem !important;
  }
  .h-mr-lg-n3,
  .h-mx-lg-n3 {
    margin-right: -1rem !important;
  }
  .h-mb-lg-n3,
  .h-my-lg-n3 {
    margin-bottom: -1rem !important;
  }
  .h-ml-lg-n3,
  .h-mx-lg-n3 {
    margin-left: -1rem !important;
  }
  .h-m-lg-n4 {
    margin: -1.5rem !important;
  }
  .h-mt-lg-n4,
  .h-my-lg-n4 {
    margin-top: -1.5rem !important;
  }
  .h-mr-lg-n4,
  .h-mx-lg-n4 {
    margin-right: -1.5rem !important;
  }
  .h-mb-lg-n4,
  .h-my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }
  .h-ml-lg-n4,
  .h-mx-lg-n4 {
    margin-left: -1.5rem !important;
  }
  .h-m-lg-n5 {
    margin: -2.5rem !important;
  }
  .h-mt-lg-n5,
  .h-my-lg-n5 {
    margin-top: -2.5rem !important;
  }
  .h-mr-lg-n5,
  .h-mx-lg-n5 {
    margin-right: -2.5rem !important;
  }
  .h-mb-lg-n5,
  .h-my-lg-n5 {
    margin-bottom: -2.5rem !important;
  }
  .h-ml-lg-n5,
  .h-mx-lg-n5 {
    margin-left: -2.5rem !important;
  }
  .h-m-lg-n6 {
    margin: -4rem !important;
  }
  .h-mt-lg-n6,
  .h-my-lg-n6 {
    margin-top: -4rem !important;
  }
  .h-mr-lg-n6,
  .h-mx-lg-n6 {
    margin-right: -4rem !important;
  }
  .h-mb-lg-n6,
  .h-my-lg-n6 {
    margin-bottom: -4rem !important;
  }
  .h-ml-lg-n6,
  .h-mx-lg-n6 {
    margin-left: -4rem !important;
  }
  .h-m-lg-n7 {
    margin: -5rem !important;
  }
  .h-mt-lg-n7,
  .h-my-lg-n7 {
    margin-top: -5rem !important;
  }
  .h-mr-lg-n7,
  .h-mx-lg-n7 {
    margin-right: -5rem !important;
  }
  .h-mb-lg-n7,
  .h-my-lg-n7 {
    margin-bottom: -5rem !important;
  }
  .h-ml-lg-n7,
  .h-mx-lg-n7 {
    margin-left: -5rem !important;
  }
  .h-m-lg-auto {
    margin: auto !important;
  }
  .h-mt-lg-auto,
  .h-my-lg-auto {
    margin-top: auto !important;
  }
  .h-mr-lg-auto,
  .h-mx-lg-auto {
    margin-right: auto !important;
  }
  .h-mb-lg-auto,
  .h-my-lg-auto {
    margin-bottom: auto !important;
  }
  .h-ml-lg-auto,
  .h-mx-lg-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  .h-m-xl-0 {
    margin: 0 !important;
  }
  .h-mt-xl-0,
  .h-my-xl-0 {
    margin-top: 0 !important;
  }
  .h-mr-xl-0,
  .h-mx-xl-0 {
    margin-right: 0 !important;
  }
  .h-mb-xl-0,
  .h-my-xl-0 {
    margin-bottom: 0 !important;
  }
  .h-ml-xl-0,
  .h-mx-xl-0 {
    margin-left: 0 !important;
  }
  .h-m-xl-1 {
    margin: 0.25rem !important;
  }
  .h-mt-xl-1,
  .h-my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .h-mr-xl-1,
  .h-mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .h-mb-xl-1,
  .h-my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .h-ml-xl-1,
  .h-mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .h-m-xl-2 {
    margin: 0.5rem !important;
  }
  .h-mt-xl-2,
  .h-my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .h-mr-xl-2,
  .h-mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .h-mb-xl-2,
  .h-my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .h-ml-xl-2,
  .h-mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .h-m-xl-3 {
    margin: 1rem !important;
  }
  .h-mt-xl-3,
  .h-my-xl-3 {
    margin-top: 1rem !important;
  }
  .h-mr-xl-3,
  .h-mx-xl-3 {
    margin-right: 1rem !important;
  }
  .h-mb-xl-3,
  .h-my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .h-ml-xl-3,
  .h-mx-xl-3 {
    margin-left: 1rem !important;
  }
  .h-m-xl-4 {
    margin: 1.5rem !important;
  }
  .h-mt-xl-4,
  .h-my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .h-mr-xl-4,
  .h-mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .h-mb-xl-4,
  .h-my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .h-ml-xl-4,
  .h-mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .h-m-xl-5 {
    margin: 2.5rem !important;
  }
  .h-mt-xl-5,
  .h-my-xl-5 {
    margin-top: 2.5rem !important;
  }
  .h-mr-xl-5,
  .h-mx-xl-5 {
    margin-right: 2.5rem !important;
  }
  .h-mb-xl-5,
  .h-my-xl-5 {
    margin-bottom: 2.5rem !important;
  }
  .h-ml-xl-5,
  .h-mx-xl-5 {
    margin-left: 2.5rem !important;
  }
  .h-m-xl-6 {
    margin: 4rem !important;
  }
  .h-mt-xl-6,
  .h-my-xl-6 {
    margin-top: 4rem !important;
  }
  .h-mr-xl-6,
  .h-mx-xl-6 {
    margin-right: 4rem !important;
  }
  .h-mb-xl-6,
  .h-my-xl-6 {
    margin-bottom: 4rem !important;
  }
  .h-ml-xl-6,
  .h-mx-xl-6 {
    margin-left: 4rem !important;
  }
  .h-m-xl-7 {
    margin: 5rem !important;
  }
  .h-mt-xl-7,
  .h-my-xl-7 {
    margin-top: 5rem !important;
  }
  .h-mr-xl-7,
  .h-mx-xl-7 {
    margin-right: 5rem !important;
  }
  .h-mb-xl-7,
  .h-my-xl-7 {
    margin-bottom: 5rem !important;
  }
  .h-ml-xl-7,
  .h-mx-xl-7 {
    margin-left: 5rem !important;
  }
  .h-p-xl-0 {
    padding: 0 !important;
  }
  .h-pt-xl-0,
  .h-py-xl-0 {
    padding-top: 0 !important;
  }
  .h-pr-xl-0,
  .h-px-xl-0 {
    padding-right: 0 !important;
  }
  .h-pb-xl-0,
  .h-py-xl-0 {
    padding-bottom: 0 !important;
  }
  .h-pl-xl-0,
  .h-px-xl-0 {
    padding-left: 0 !important;
  }
  .h-p-xl-1 {
    padding: 0.25rem !important;
  }
  .h-pt-xl-1,
  .h-py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .h-pr-xl-1,
  .h-px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .h-pb-xl-1,
  .h-py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .h-pl-xl-1,
  .h-px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .h-p-xl-2 {
    padding: 0.5rem !important;
  }
  .h-pt-xl-2,
  .h-py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .h-pr-xl-2,
  .h-px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .h-pb-xl-2,
  .h-py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .h-pl-xl-2,
  .h-px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .h-p-xl-3 {
    padding: 1rem !important;
  }
  .h-pt-xl-3,
  .h-py-xl-3 {
    padding-top: 1rem !important;
  }
  .h-pr-xl-3,
  .h-px-xl-3 {
    padding-right: 1rem !important;
  }
  .h-pb-xl-3,
  .h-py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .h-pl-xl-3,
  .h-px-xl-3 {
    padding-left: 1rem !important;
  }
  .h-p-xl-4 {
    padding: 1.5rem !important;
  }
  .h-pt-xl-4,
  .h-py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .h-pr-xl-4,
  .h-px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .h-pb-xl-4,
  .h-py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .h-pl-xl-4,
  .h-px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .h-p-xl-5 {
    padding: 2.5rem !important;
  }
  .h-pt-xl-5,
  .h-py-xl-5 {
    padding-top: 2.5rem !important;
  }
  .h-pr-xl-5,
  .h-px-xl-5 {
    padding-right: 2.5rem !important;
  }
  .h-pb-xl-5,
  .h-py-xl-5 {
    padding-bottom: 2.5rem !important;
  }
  .h-pl-xl-5,
  .h-px-xl-5 {
    padding-left: 2.5rem !important;
  }
  .h-p-xl-6 {
    padding: 4rem !important;
  }
  .h-pt-xl-6,
  .h-py-xl-6 {
    padding-top: 4rem !important;
  }
  .h-pr-xl-6,
  .h-px-xl-6 {
    padding-right: 4rem !important;
  }
  .h-pb-xl-6,
  .h-py-xl-6 {
    padding-bottom: 4rem !important;
  }
  .h-pl-xl-6,
  .h-px-xl-6 {
    padding-left: 4rem !important;
  }
  .h-p-xl-7 {
    padding: 5rem !important;
  }
  .h-pt-xl-7,
  .h-py-xl-7 {
    padding-top: 5rem !important;
  }
  .h-pr-xl-7,
  .h-px-xl-7 {
    padding-right: 5rem !important;
  }
  .h-pb-xl-7,
  .h-py-xl-7 {
    padding-bottom: 5rem !important;
  }
  .h-pl-xl-7,
  .h-px-xl-7 {
    padding-left: 5rem !important;
  }
  .h-m-xl-n1 {
    margin: -0.25rem !important;
  }
  .h-mt-xl-n1,
  .h-my-xl-n1 {
    margin-top: -0.25rem !important;
  }
  .h-mr-xl-n1,
  .h-mx-xl-n1 {
    margin-right: -0.25rem !important;
  }
  .h-mb-xl-n1,
  .h-my-xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .h-ml-xl-n1,
  .h-mx-xl-n1 {
    margin-left: -0.25rem !important;
  }
  .h-m-xl-n2 {
    margin: -0.5rem !important;
  }
  .h-mt-xl-n2,
  .h-my-xl-n2 {
    margin-top: -0.5rem !important;
  }
  .h-mr-xl-n2,
  .h-mx-xl-n2 {
    margin-right: -0.5rem !important;
  }
  .h-mb-xl-n2,
  .h-my-xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .h-ml-xl-n2,
  .h-mx-xl-n2 {
    margin-left: -0.5rem !important;
  }
  .h-m-xl-n3 {
    margin: -1rem !important;
  }
  .h-mt-xl-n3,
  .h-my-xl-n3 {
    margin-top: -1rem !important;
  }
  .h-mr-xl-n3,
  .h-mx-xl-n3 {
    margin-right: -1rem !important;
  }
  .h-mb-xl-n3,
  .h-my-xl-n3 {
    margin-bottom: -1rem !important;
  }
  .h-ml-xl-n3,
  .h-mx-xl-n3 {
    margin-left: -1rem !important;
  }
  .h-m-xl-n4 {
    margin: -1.5rem !important;
  }
  .h-mt-xl-n4,
  .h-my-xl-n4 {
    margin-top: -1.5rem !important;
  }
  .h-mr-xl-n4,
  .h-mx-xl-n4 {
    margin-right: -1.5rem !important;
  }
  .h-mb-xl-n4,
  .h-my-xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .h-ml-xl-n4,
  .h-mx-xl-n4 {
    margin-left: -1.5rem !important;
  }
  .h-m-xl-n5 {
    margin: -2.5rem !important;
  }
  .h-mt-xl-n5,
  .h-my-xl-n5 {
    margin-top: -2.5rem !important;
  }
  .h-mr-xl-n5,
  .h-mx-xl-n5 {
    margin-right: -2.5rem !important;
  }
  .h-mb-xl-n5,
  .h-my-xl-n5 {
    margin-bottom: -2.5rem !important;
  }
  .h-ml-xl-n5,
  .h-mx-xl-n5 {
    margin-left: -2.5rem !important;
  }
  .h-m-xl-n6 {
    margin: -4rem !important;
  }
  .h-mt-xl-n6,
  .h-my-xl-n6 {
    margin-top: -4rem !important;
  }
  .h-mr-xl-n6,
  .h-mx-xl-n6 {
    margin-right: -4rem !important;
  }
  .h-mb-xl-n6,
  .h-my-xl-n6 {
    margin-bottom: -4rem !important;
  }
  .h-ml-xl-n6,
  .h-mx-xl-n6 {
    margin-left: -4rem !important;
  }
  .h-m-xl-n7 {
    margin: -5rem !important;
  }
  .h-mt-xl-n7,
  .h-my-xl-n7 {
    margin-top: -5rem !important;
  }
  .h-mr-xl-n7,
  .h-mx-xl-n7 {
    margin-right: -5rem !important;
  }
  .h-mb-xl-n7,
  .h-my-xl-n7 {
    margin-bottom: -5rem !important;
  }
  .h-ml-xl-n7,
  .h-mx-xl-n7 {
    margin-left: -5rem !important;
  }
  .h-m-xl-auto {
    margin: auto !important;
  }
  .h-mt-xl-auto,
  .h-my-xl-auto {
    margin-top: auto !important;
  }
  .h-mr-xl-auto,
  .h-mx-xl-auto {
    margin-right: auto !important;
  }
  .h-mb-xl-auto,
  .h-my-xl-auto {
    margin-bottom: auto !important;
  }
  .h-ml-xl-auto,
  .h-mx-xl-auto {
    margin-left: auto !important;
  }
}

.chart__theme {
  border-top: 1px solid #2eb738;
  border-bottom: 1px solid #2eb738;
  min-height: 360px;
}

.chart__theme__title {
  font-size: 3.5rem;
  font-weight: 700;
}

.chart__theme__subtitle {
  font-size: 1.5rem;
}

.chart__item {
  border-radius: 100px 0 30px 0;
  -webkit-box-shadow: 0 3px 10px #D8D8D8;
          box-shadow: 0 3px 10px #D8D8D8;
}

.chart__item__title {
  font-size: 8rem;
  text-shadow: 4px 3px 0 #F0F0F0;
}

.chart__item span {
  font-size: 1.5rem;
  width: 110px;
  padding: 0.5rem 0;
}
/*# sourceMappingURL=all.css.map */